body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
  margin: 0;
}

header {
  text-align: center;
  padding: 60px 20px;
  background-color: #020617;
}

section {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
}

h2 {
  color: #38bdf8;
}

a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #020617;
  color: #9ca3af;
}
